.login-wrapper {
  margin: 0;
  background-color: #fff;

  .left {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    .left-mobile-title-wrapper {
      display: none;
    }

    .left-desktop-title-wrapper {
      h1 {
        text-align: left;
      }
    }
  }

  .right-desktop-title-wrapper {
    background-color: #89c2d9;
    background: linear-gradient(259.07deg, #daf8ff 4.07%, #b2eaf8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .right-desktop-logo {
      width: 50%;
    }
    h2 {
      font-size: 3rem;
      color: #348fd9;

      margin-top: 20px;
    }

    h3 {
      color: #585858;
      font-size: 1.4rem;
      text-align: center;
      line-height: 30px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .login-wrapper {
    background-color: #89c2d9;
    background: linear-gradient(259.07deg, #daf8ff 4.07%, #b2eaf8);
    .left {
      .left-desktop-title-wrapper {
        display: none;
      }

      .left-mobile-title-wrapper {
        display: block;
        width: 200px;
        .dna-logo {
          width: 160px;
          margin: auto;
          margin-bottom: 20px;
        }
        h1 {
          color: #348fd9;
          font-size: 2.4rem;
        }
      }
    }

    .right-desktop-title-wrapper {
      display: none !important;
    }
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .login-wrapper {
    background-color: #89c2d9;
    background: linear-gradient(259.07deg, #daf8ff 4.07%, #b2eaf8);

    .left {
      .left-desktop-title-wrapper {
        display: none;
      }
      .left-mobile-title-wrapper {
        display: block;
      }
    }

    .right-desktop-title-wrapper {
      display: none !important;
    }
  }
}
