.generations-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
  .generation-head,
  .generation-head-new {
    margin: 0;
    margin-top: 0.2em;
    width: 100%;
    max-height: 3em;
    background-color: #f8f1c7;
    background: linear-gradient(259.07deg, #fffce9 4.07%, #fdf7d2 100%);
    position: relative;
    padding: 0 3em;
    display: inline-block;
    border: none;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      color: #d8bd1b;
      font-size: 1.4em;
      line-height: 3.5em;
      margin-bottom: 0;
    }

    button.delete-btn {
      background-color: unset;

      img {
        width: 2.2em;
      }
    }
  }

  .generation-head-new {
    display: flex;
    justify-content: flex-start;

    img {
      margin-right: 2em;
      width: 2.2em;
    }
  }

  .yellow-btn {
    color: #d8bd1b;
    background: linear-gradient(259.07deg, #fffce9 4.07%, #fdf7d2 100%);
  }
}
