p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
li,
input,
a,
button,
label {
  font-family: "Baloo 2", cursive;
  color: #585858;
}

button {
  transition: all 0.2s ease;
  &:hover {
    transform: translateY(-0.1em);
  }
}

ul,
li {
  list-style-type: none;
}

h1,
h2,
h3,
.main-color {
  color: #348fd9;
  font-weight: bolder;
}

.title-wrapper {
  margin: 0 auto;
  width: 100%;
  min-height: 7em;
  max-height: 14em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(259.07deg, #daf8ff 4.07%, #b2eaf8);
}

.bold {
  font-weight: 600;
}

.error-text {
  margin-top: 1em;
  margin-bottom: 1em;
  color: red;
}

.error {
  border: 0.2em solid #ff6565;
}

.error-message {
  color: #ff6565;
  padding: 0.5em 0.2em;
  height: 1em;
  font-size: 0.8em;
  margin-bottom: 2em;
}

button {
  border: none;
}

label {
  font-weight: bolder;
}

.btn-primary {
  min-width: 8em;
  background: #348fd9;
  color: white;
}

.navbar-toggler,
.card,
.new-item-btn {
  font-size: 1.2rem;
  line-height: 1em;
  background-color: #89c2d9;
  color: #348fd9;
  background: linear-gradient(259.07deg, #daf8ff 4.07%, #b2eaf8);
  box-shadow: 0 0.8em 2em #e5f4f5;
  margin-top: 0.5em;
  margin-bottom: 0.4em;
  position: relative;
  padding: 0.25em 3em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5em;
  transition-duration: 0.5s;
  transition: all 0.3s linear;
  &::before {
    content: "";
    position: absolute;
    border: 0.3em solid #89c2d9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    border-radius: 1em;
    opacity: 0;
  }
}

.back-btn {
  font-size: 1.2rem;
  border-radius: 0.5em;
  margin-top: 2em;
}
